* {
    margin:0;
    padding-left: 5px;
    padding-right: 5px;
}


#Encabezado {
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

h1, h2, h5, p {
    font-family: 'Playfair Display';
    text-align: center;

}

#Lema {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: cyan;
    padding: 20px;

}

#FLeloir {
    width: 100%;
}

body {
    background-color: lightblue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

#Examen {
    padding: 15px;
}

.mapa iframe {
    width:100%;
    aspect-ratio: 1.2;
    
    
}


.analitico-texto {
    text-align: justify;
}

.btn-group {
    padding-top: 20px;
}

