<div class="container-fluid">
  <div class="row py-4"> <!--Inicio Primera Fila-->
    <div class="col-12" id="Lema">
      <h2>1986 - 2023 - Mas de 35 años al servicio de la Educación</h2>
      <p>Somos los lazos que creamos, nuestra calidad de vida depende de los mismos.
        Aprender a mejorar nuestros vínculos es el mejor aporte a nuestro mundo y la única garantía de futuro
        para los que nos siguen.
      </p>
    </div>

  </div> <!--Fin Primera Fila-->

  <div class="row"> <!--Inicio 2° Fila-->
    <div class="col-md-8" id="Frente"> <!--Columna con Foto Colegio-->
      <img id="FLeloir" class="img-fluid" src="images/FrenteLeloir.png" alt="Frente del Colegio">
    </div> <!--Fin Foto Colegio-->
    <div class="col-md-4 d-flex flex-column align-items-center">
      <div class="card mb-3" style="width: 18rem;"> <!--1° Card-->

        <div class="card-body">
          <h5 class="card-title align-items-center">Nuevo Régimen Académico 2025</h5>
          <p class="card-text">Los estudiantes pueden promocionar aunque deban hasta 4 materias del año anterior.
            Las deben cursar a contraturno.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Información y Consultas</a>
          </div>
        </div>
      </div> <!--Fin 1° Card-->

      <div class="card" style="width: 18rem;"> <!--Incio 1° Card-->

        <div class="card-body">
          <h5 class="card-title">Inscripciones 2025</h5>
          <p class="card-text">Todavía hay vacantes para estudiantes que quieran ingresar a 1° Año. Los años
            restantes hay que consultar porque depende de los estudiantes que repitan.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary ">Formularios de Inscripción</a>
          </div>
        </div>
      </div> <!--Fin 2° Card-->

    </div> <!--Fin 2° Columna-->



  </div> <!--Fin 2° Fila-->

  <div class="row"> <!--Inicio 3° Fila-->
    <div id="container-mapa" class="col-md-8"> <!--inicio Columna Mapa-->
      <h2>Visítanos</h2>
      <div class="mapa"> <!--mapa-->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.114898303393!2d-58.49140912521761!3d-34.52531685336029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb135b2c860f7%3A0x7506b4905006d26d!2sArenales%201850%2C%20B1602DGH%20Florida%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1737750846541!5m2!1ses-419!2sar"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> <!--Fin mapa-->

    </div> <!--Fin Columna mapa-->

    <!-- Example single danger button -->

    <div class="col-md-4"> <!--Inicio columna inferior-->
      <div class="Programa"> <!--Inicio seccion de plan de estudios-->
        <h2>Programas de Estudio</h2>
        <div class="d-flex justify-content-center my-4"> <!--Div para centrar grupo de 2 botones-->
          <div class="btn-group"> <!--Inicio grupo de dos botones-->
            <button type="button" class="btn btn-danger  w-50 dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Ciclo Básico
            </button> <!--Fin Botón 1-->
            <ul class="dropdown-menu"> <!--Menú Botón 1-->
              <li><a class="dropdown-item" href="#">1° Año</a></li>
              <li><a class="dropdown-item" href="#">2° Año</a></li>
              <li><a class="dropdown-item" href="#">3° Año</a></li>

            </ul> <!--Fin Menú Botón 1-->


            <button type="button" class="btn btn-warning w-80 dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Economía y Administración
            </button> <!--Fin Botón 2-->
            <ul class="dropdown-menu"> <!--Inicio Menú Botón 2-->
              <li><a class="dropdown-item" href="#">4° Año</a></li>
              <li><a class="dropdown-item" href="#">5° Año</a></li>
              <li><a class="dropdown-item" href="#">6° Año</a></li>

            </ul> <!--Fin Botón 2-->
          </div> <!--Fin Grupo 1-->
        </div>
      </div>



      <div id="analitico" class="py-4"> <!--Inicio Acordeón Analíticos-->
        <h2>Solicitud de Analíticos</h2>
        <div class="accordion my-4" id="accordionExample">
          <div class="accordion-item"> <!--1° Item-->
            <h2 class="accordion-header"> <!--Parciales-->
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Analíticos Parciales
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <!--Cuerpo contraído-->
              <div class="accordion-body"> <!--Detalles 1° Item-->
                <strong>Se solicitan cuando se pidió pase a otro establecimiento.</strong>
                <p class="analitico-texto">Debe presentar DNI y Partida de Nacimiento. Si estuvo en otro
                  establecimiento antes, debe presentar Analítico Parcial original de ese colegio.
                  <code>
                        <div class="list-group">     <!--Opciones Parciales-->
                          <a href="#" class="list-group-item list-group-item-action">
                            Solicitud
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            Retiro
                          </a>
                          
                        </div> <!--Fin Opciones-->
                      </code>
              </div>
            </div>
          </div> <!--Fin 1° Item-->
          <div class="accordion-item"> <!--Inicio 2° Item-->
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Analíticos Finales (Títulos)
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Se piden cuando aprobó todo el Plan de Estudios.</strong>
                <p class="analitico-texto">Aquí podrá consultar si ya lo obtuvo.
                  Se le enviará por mail con código QR, tras presentarse en el establecimiento.</p>
                <code>
                        <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-action">
                            Consulta
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            Retiro
                          </a>
                          
                        </div>
                      </code> <!--Fin Opciones 2° Item Finales-->
              </div>
            </div>
          </div>
        </div> <!--Fin Acordeón-->



      </div> <!--Fin--3° Fila-->


    </div> <!--Fin Columna-->

    <div class="row"> <!--Inicio 4° Fila-->
      <div class="col-md-8 my-4">
        <div style="background-color:aquamarine;">
          <h2>Inscripción Comisiones Evaluadoras Febrero 2025</h2>

          <form action="/" method="post">
            <fieldset>
              <legend><strong>Información Personal</strong></legend>
              <label for="cuit">Cuit(con guiones):</label>
              <input type="text" id="cuit" name="cuit" maxlength="12" required><br><br>

              <label for="nombre">Nombre Completo:</label>
              <input type="text" id="nombre" name="nombre" maxlength="30" required>

              <label for="edad">Edad:</label>
              <input type="number" id="edad" name="edad" maxlength="2" required><br><br>

              <label for="email">Correo Electrónico:</label>
              <input type="email" id="email" name="email" required>

              <label for="telefono">Número de Teléfono:</label>
              <input type="tel" id="telefono" name="telefono" required><br><br>

              <label for="domicilio">Domicilio:</label>
              <input type="text" id="domicilio" name="domicilio" required>

              <label for="localidad">Localidad:</label>
              <input type="text" id="localidad" name="localidad" required><br><br>
            </fieldset>

            <fieldset>
              <legend><strong>Información Académica</strong></legend>
              <label for="año">Curso 2024 Año:</label>
              <select id="año" name="año" required>
                <option value="primero">1° Año</option>
                <option value="segundo">2° Año</option>
                <option value="tercero">3° Año</option>
                <option value="cuarto">4° Año</option>
                <option value="quinto">5° Año</option>
                <option value="sexto">6° Año</option>
              </select>

              <label for="division">División (Si cursó en esta institución):</label>
              <input type="text" id="division" name="division" maxlength="2" required>><br><br>
            </fieldset>
            <label for="materia">Materia en la que se inscribe:</label>
            <input type="text" id="materia" name="materia" maxlength="30" required>

            <label for="año">Año de Esa Materia:</label>
            <select id="año" name="año_materia" required>
              <option value="primero">1° Año</option>
              <option value="segundo">2° Año</option>
              <option value="tercero">3° Año</option>
              <option value="cuarto">4° Año</option>
              <option value="quinto">5° Año</option>
              <option value="sexto">6° Año</option>
            </select>
            <br><br>

            <label for="profesor">Profesor con quién cursó:</label>
            <input type="text" id="profesor" name="profesor" maxlength="30" required>

            <label for="institucion">Institución en que la cursó: </label>
            <select id="institucion" name="institucion" required>
              <option value="esta_institucion">Esta institución</option>
              <option value="otra">Otra</option>
            </select><br><br>
            </fieldset>

            <fieldset>
              <legend><strong>Examen (No llenar. Se le informará)</strong></legend>
              <label for="fecha_examen">Fecha del Examen:</label>
              <input type="date" id="fecha_examen" name="fecha_examen" disabled>

              <label for="hora_examen">Hora del Examen:</label>
              <input type="time" id="hora_examen" name="hora_examen" disabled><br><br>

            </fieldset>

            <fieldset>
              <legend><strong>Consentimiento</strong></legend>
              <select id="acepta" name="acepta" disabled>
                <option value="si">Sí</option>
                <option value="no">No</option>
              </select>
            </fieldset>
            <br><br>
            <input type="submit" value="Enviar">
            {{message}}
          </form>
          


        </div>
      </div>
      <div class="col-md-4" my-4>
        <div id="Fecha" class="d-flex justify-content-center">
          <button id="Examen" type="button" class="btn btn-primary btn-lg">Fechas Comisiones Evaluadoras Febrero
            2025</button>
        </div>
      </div>


    </div>



  </div>

</div>

</div>



</div>











</main>