<form>
  <fieldset>
    <legend><strong>Información Personal Madre</strong></legend>
    <label for="cuit">Cuit(con guiones):</label>
    <input type="text" id="cuit" name="cuit" maxlength="12" required><br><br>

    <label for="nombre">Nombre Completo:</label>
    <input type="text" id="nombre" name="nombre" maxlength="30" required>

    <legend><strong>Información Personal Padre</strong></legend>
    <label for="cuit">Cuit(con guiones):</label>
    <input type="text" id="cuit" name="cuit" maxlength="12" required><br><br>

    <label for="nombre">Nombre Completo:</label>
    <input type="text" id="nombre" name="nombre" maxlength="30" required>

     <legend><strong>Información Personal Tutor</strong></legend>
    <label for="cuit">Cuit(con guiones):</label>
    <input type="text" id="cuit" name="cuit" maxlength="12" required><br><br>

    <label for="nombre">Nombre Completo:</label>
    <input type="text" id="nombre" name="nombre" maxlength="30" required>
  </fieldset>
</form>