<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/sobrenosotros'>Sobre Nosotros</a></li>
        <li><a href='/inscripciones'>Inscripciones</a></li>
        <li><a href='/academicos'>Académicos</a></li>
        <li><a href='/padres'>Padres</a></li>                   
        <li><a href='/estudiantes'>Estudiantes</a></li>
        <li><a href='/actividades'>Actividades</a></li>
        <li><a href='/servicios'>Servicios</a></li>
        <li><a href='/contacto'>Contacto</a></li>
      </ul>
      
    </nav>
    {{{body}}}
  </body>
</html>
